server:
  port: 8080
  host: "0.0.0.0"

database:
  url: "postgres://valinor:valinor@localhost:5432/valinor?sslmode=disable"
  max_conns: 25
  migrations_path: "migrations"

log:
  level: "info"
  format: "json"

auth:
  devmode: true  # Set to false in production
  oidc:
    issuerurl: ""
    clientid: ""
    clientsecret: ""
    redirecturl: "http://localhost:8080/auth/callback"
  jwt:
    signingkey: "dev-signing-key-change-in-production-must-be-32-chars"
    issuer: "valinor"
    expiryhours: 24
    refreshexpiryhours: 168
