server:
  port: 8080
  host: "0.0.0.0"

database:
  url: "postgres://valinor:valinor@localhost:5432/valinor?sslmode=disable"
  max_conns: 25
  migrations_path: "migrations"

log:
  level: "info"
  format: "json"

auth:
  devmode: true  # Set to false in production
  oidc:
    issuerurl: ""
    clientid: ""
    clientsecret: ""
    redirecturl: "http://localhost:8080/auth/callback"
  jwt:
    signingkey: "dev-signing-key-change-in-production-must-be-32-chars"
    issuer: "valinor"
    expiryhours: 24
    refreshexpiryhours: 168

channels:
  ingress:
    enabled: false
    replaywindowseconds: 86400
    tenantscanpagesize: 500
    retentioncleanupenabled: true
    retentioncleanupintervalseconds: 3600
    retentioncleanupbatchsize: 500
  providers:
    slack:
      enabled: false
      signingsecret: ""
      apibaseurl: "https://slack.com"
      accesstoken: ""
    whatsapp:
      enabled: false
      signingsecret: ""
      apibaseurl: "https://graph.facebook.com"
      apiversion: "v22.0"
      accesstoken: ""
      phonenumberid: ""
    telegram:
      enabled: false
      secrettoken: ""
      apibaseurl: "https://api.telegram.org"
      accesstoken: ""
  outbox:
    enabled: true
    pollintervalseconds: 2
    tenantscanpagesize: 500
    claimbatchsize: 10
    recoverybatchsize: 10
    locktimeoutseconds: 30
    maxattempts: 5
    baseretryseconds: 5
    maxretryseconds: 120
    jitterfraction: 0.2
